<header>
    <nav>
        <ul class="navigation">
            <li><a href="/">Home Page</a></li>
            <li><a href="/cats/add-breed">Add Breed</a></li>
            <li><a href="/cats/add-cat">Add Cat</a></li>
        </ul>
    </nav>
    <h1>Cat Shelter</h1>
    
</header>
<form action="/edit/{{cat._id}}" method="POST" class="cat-form">
    <h2>Edit Cat</h2>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" value="{{cat.name}}">
    <label for="description">Description</label>
    <textarea id="description" name="description">{{cat.description}}</textarea>
    <label for="image">Image</label>
    <input type="text" id="image" name="imageUrl" value="{{cat.imageUrl}}">
    <label for="group">Breed</label>
    <select id="group" name="breed">
        {{#each breeds}}<option>{{breed}}</option>{{/each}}
    </select>
    <button>Edit Cat</button>
</form>